
.navbar-brand{
    width: 200px;
    padding-left: 40px;
}

.img-logo{
    height: 40px;
}
.c-avatar {
    position:relative;
    display:inline-block;
}
.c-avatar__image {
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:100%;
}
.c-avatar__status {
    width:10px;
    height:10px;
    background:#99CC00;
    border:1px solid white;
    position:absolute;
    bottom:2%;
    right:8%;
    border-radius:100%;
}

.header{
    background-color: #120D91;
    height: 50px;
}

.aa{
    margin-top: -8px;
}

input{
    height: 30px;
}