
body{
width: 100%;

}
.title{
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
}

.action-bar{

}

.container-bg{
    background: white;
    width: 80%;
    margin-left: 280px;
    border-radius: 8px;

}

.container-bg1{
    width: 80%;
    margin-left: 280px;

}

.icon-container{
    background: #120D91;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.card-groub-bg
{
    width: 100%;
}

#leden{
    width: 100%;
}

/*Header*/
.navbar-brand{
    width: 200px;
    padding-left: 40px;
}
.aaaa{
    padding-top: 100px;
    margin-left: 100px;
}
.img-logo{
    height: 50px;
}
.c-avatar {
    position:relative;
    display:inline-block;
}
.c-avatar__image {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:100%;
}
.c-avatar__status {
    width:10px;
    height:10px;
    background:#99CC00;
    border:1px solid white;
    position:absolute;
    bottom:2%;
    right:8%;
    border-radius:100%;
}

.header{
    background-color: #120D91;
    height: 66px;
    position: fixed;
    width: 100%;
}

input{
    height: 40px;
    width: 60px;
}

/*Navbar*/
.menu ul {
    list-style-type: none;
    padding: 0;
    margin-right: 4rem;
    background-color: black;
    position: fixed;
    margin-top: 66px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}


.menu li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a.active {
    background-color: #514AFF;
    color: white;
}

.menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.icon-nav{
    padding-bottom: 6px;
}

.info{
    background-color: #191919
;
    color: white;
}

.btn_add{
    background: #514AFF;
    color: white;
    border: none;
    border-radius: 30px;
    width: 125px;
}

.icon{
    color: #514AFF;
    stroke-width: 2px;
    height: 40px;
    margin-right: 5px;
}

.icon2{
    color: #514AFF;
    stroke-width: 2px;
    height: 60px;
}
